.package-step-card {
    border: 1px solid #e94661;
    border-radius: 35px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 20px;
    width: 100%;
    .Cal__Weekdays__root{
      z-index: 0;
    }
    .step-process {
      display: flex;
      align-items: center;
      padding: 20px 10px;
      border-bottom: 1px solid #e94661;
      .line {
        align-items: center;
      }
      .detail {
        width: 42px;
        height: 20px;
        margin-top: 5px;
        justify-content: center;
        p{
          text-align: center;
          font-size: 12px;
        }
      }
      
      .bar {
        flex-grow: 1;
        height: 2px;
        background: #ffffff;
        box-shadow: 0 2px 8px 0 #eee;
        &.gr {
          background-image: linear-gradient(90.01deg,#e94661 49.99%,rgba(39,174,96,0) 99.98%);
        }
        &.fill {
          background: #e94661;
        }
      }
      .icon {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        box-shadow: 0 2px 8px 0 #eee;
        color: #9c9c9c;
        @media (max-width: $xxxlDesktop) {
          width: 42px;
          height: 42px;
        }
        @media (max-width: $desktop) {
          width: 42px;
          height: 42px;
        }
  
        &.active {
          background: #e94661;
          box-shadow: none;
          color: #fff;
        }
        svg {
          @media (max-width: $xxxlDesktop) {
            width: 18px;
            height: 18px;
          }
          @media (max-width: $desktop) {
            width: 15.5px;
            height: 15.5px;
          }
        }
      }
    }
  
    .step-process-content {
      padding: 36px 0px 70px;
      position: relative;
      min-height: 328px;
      @media (max-width: $xxxlDesktop) {
        min-height: 246px;
      }
      @media (max-width: $desktop) {
        min-height: 358px;
      }
      @media (max-width: 374px) {
        padding: 22px 16px 70px;
      }
      .time-slots{
        margin-top: -36px;
        height: 336px;
        .Cal__Container__root{
          display: inline;
        }
        .Cal__Day__selection{
          background-color: #e94661 !important;
        }
        .Cal__Weekdays__root{
          background-color: #e94661 !important;
        }
        .Cal__Today__root.Cal__Today__show {
          background-color: #e94661 !important;
        }
        .Cal__Today__root{
          background-color: #e94661 !important;
        }
        .Cal__MonthList__root{
          @media (max-width: $xxxlDesktop) {
            min-height: 246px;
          }
          @media (max-width: $desktop) {
            min-height: 300px;
          }
          @media (max-width: 374px) {
            padding: 22px 16px 70px;
          }
          @media (min-width: $tablet) {
            &::-webkit-scrollbar {
              width: 0px;
              height: 0px;
              background: #dfe7e8;
            }
            &::-webkit-scrollbar-thumb {
              background: rgba(#000, 0.5);
              border-radius: 30px;
            }
            &:hover {
              &::-webkit-scrollbar-thumb {
                background: #000;
              }
            }
          }
        }
      }
      .sticky {
        @media (max-width: $phone) {
          position: fixed !important;
          bottom: 85px !important; 
          margin-bottom: 1px !important;
          width: calc(100% - 22px) !important;
        }
      }
      .book {
        position: absolute;
        margin: 0px;
        bottom: 0;
        width: 100%;
        justify-content: center;
        .total{
          background-color: white;
          width: 50%;
          text-align: center;
          height: 70px;
          color: black;
          font-weight: bold;
          p{
            margin: 0px;
            margin-top: 5px;
          }
        }
        .next-btn {
          width: 50%;
          border-radius: 0px;
          height: 70px;
          font-weight: 600;
          font-size: 16px;
          line-height: 1;
          img {
            margin-left: 16px;
          }
          &.active {
            background-color: #e94661;
            border-color: #e94661
          }
        }
      }
    }
  }
  .counter {
    button {
        width: 33px;
        height: 40px;
        background-color: #f2f4f9;
        border: 0;
        &:first-child {
        border-radius: 6px 0 0 6px;
        }
        &:last-child {
        border-radius: 6px 0 0 6px;
        }
        &:hover {
        background-color: darken(#f2f4f9, 10%);
        }
        &:active {
        background-color: darken(#f2f4f9, 15%);
        }
    }
    input {
        padding: 0;
        width: 40px;
        height: 40px;
        border: 0;
        border-top: 1px solid #f2f4f9;
        border-bottom: 1px solid #f2f4f9;
        text-align: center;
        font-size: 20px;
    }
    }
.booking-data{
  position: relative;
  overflow-y: scroll;
  text-align: center;
  margin-bottom: 80px;
  height: auto;
  .action {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30%;
      padding: 10px;
      width: 100%;

      .row {
        width: 100%;
      }
      .total {
        width: auto;
        border-radius: 10px;
        background-color: #E9EBEF;
        padding-top: 8px;
        padding-bottom: 8px;
      }
      .counter {
        hr{
          width: 100%;
        }
        .package_title {
          margin-bottom: 6px;
        }
        .coupon_title {
          color: #ec6d59;
          font-size: 28px;
        }
        .coupon_content{
          font-size: 12px;
          color: #7A869A;
        }
        margin-bottom: 8px;
        margin-top: 8px;
        .align-left{
          text-align: left;
        }
        .align-right{
          text-align: right;
        }
        p{
          margin: 0px;
        }
        font-size: 13px;
        color: #002251;
        .package_name {
          font-size: 24px;
          color: #ec6d59;
        }
        .pending{
          font-size: 14px;
          color: #7A869A;
        }
      }
      
      .btn {
      font-size: 13px;
      max-width: 300px;
      min-width: 150px;
      height: 50px;
      border-radius: 100px;
      }
  }
  .card-wrap::-webkit-scrollbar {
      display: none;
  }
  @media (min-width: $tablet) {
      &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: #dfe7e8;
      }
      &::-webkit-scrollbar-thumb {
      background: rgba(#000, 0.5);
      border-radius: 30px;
      }
      &:hover {
      &::-webkit-scrollbar-thumb {
          background: #000;
      }
      }
  }
}
.coupon-alert{
height: auto !important;
}
.coupon-detail {
  height: 250px;
  background-color: #e4e4e4; 
    .action {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 30%;
        padding: 10px;
        width: 100%;
        .counter {
        .coupon {
            width: 100%;
            margin-left: 5px;
            margin-right: 10px;
            padding: 5px;
            background-color: white;
            border-radius: 30px;
            align-items: center;
            p{
            text-align: center;
            margin: 0px;
            }
            input{
            width: 100%;
            text-align: start;
            border: 0px;
            font-size: 17px;
            }
        }
        .apply[wobble='1'] {
            animation: wobble 1s 1;
        }
        @keyframes wobble {
            15% {
            position: fixed;
            height: 100%;
            margin: -61px 30px 30px -25px;
            }
            25% {
            position: fixed;
            height: 100%;
            margin: -61px 30px 30px -25px;
            }
            50% {
            position: fixed;
            height: 100%;
            margin: -61px 30px 30px -25px;
            }
            75% {
            position: fixed;
            height: 100%;
            margin: -61px 30px 30px -25px;
            }
            100% {
            position: fixed;
            height: 100%;
            margin: -61px 30px 30px -25px;
            }
        }
        .apply {
            z-index: 1000;
            width: 100%;
            margin: 5px;
            margin-left: 5px;
            margin-right: 10px;
            padding: 10px;
            background-color: #e94661;
            border-radius: 30px;
            align-items: center;
            p {
            width: 100%;
            font-size: 20px;
            margin: 0px;
            color: white;
            }
        }
        }
    }
}

.subpackage {
    height: 300px !important;
    text-align: center;
    overflow-y: scroll;
  }

  .package-detail-banner {
    min-height: 600px;
    height: 100vh;
    width: 100%;
    background-color: #ababab;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 180px 49px 60px;
    display: flex;
    align-items: flex-end;
    border-radius: 0px 90px 90px 0px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000, 0.43);
      z-index: 1;
      border-radius: inherit;
    }
    > div {
      position: relative;
      z-index: 2;
    }
    @media (min-width: $desktop) {
      position: sticky;
      top: 0;
    }
  
    @media (max-width: $xxxlDesktop) {
      padding: 45px 135px 36px 45px;
    }
    @media (max-width: $xxxlDesktop) {
      padding: 36px 30px;
    }
    @media (max-width: $xxlDesktop) {
      border-radius: 0px 58px 58px 0px;
    }
    @media (max-width: $desktop) {
      border-radius: 0;
    }
    @media (max-width: $tablet) {
      padding: 20px;
    }
    .location-name {
      font-size: 18px;
      line-height: 1.5;
      color: #000;
      margin-bottom: 30px;
      @media (max-width: $xxxlDesktop) {
        font-size: 13px;
        margin-bottom: 22px;
      }
  
      span {
        padding: 13px 29px;
        background: #ffffff;
        border-radius: 12px;
        @media (max-width: $xxxlDesktop) {
          padding: 9px 21px;
          margin-bottom: 22px;
        }
      }
    }
    .location-title {
      font-weight: 500;
      font-size: 64px;
      line-height: 2;
      color: #fff;
      
      font-size: 180% !important;
      
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(5px 5px 5px #222);
      
      @media (max-width: $xxxlDesktop) {
        font-size: 38px;
      }
      @media (max-width: $xxlDesktop) {
        font-size: 28px;
      }
    }
  }

  
.package-detail-info {
    .title {
      font-weight: 500;
      font-size: 36px;
      line-height: 48px;
      color: #333333;
      margin-bottom: 4px;
    }
  
    .location {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 40px;
      padding-left: 18px;
      background-position: left top 5px;
      background-repeat: no-repeat;
    }
    .text-content {
      font-weight: normal;
      font-size: 16px;
      line-height: 2;
      color: black;
      iframe {
        width: 100%;
        border:none !important;
      }
      @media (max-width: $desktop) {
        font-size: 14px;
      }
    }
    .tab-btns {
      display: flex;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
      overflow-x: auto;
      position: relative;
      @media (min-width: $tablet) {
        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
          background: #dfe7e8;
        }
        &::-webkit-scrollbar-thumb {
          background: rgba(#000, 0.5);
          border-radius: 30px;
        }
        &:hover {
          &::-webkit-scrollbar-thumb {
            background: #000;
          }
        }
      }
      margin-right: -16px;
      margin-left: -16px;
      padding-right: 16px;
      padding-left: 16px;
      &::before {
        content: "";
        position: absolute;
        height: 2px;
        left: 16px;
        bottom: 0;
        background: rgba(0, 0, 0, 0.05);
      }
      .btn {
        font-size: 18px;
        line-height: 36px;
        color: #343434;
        padding: inherit;
        border: 0;
        outline: none;
        box-shadow: none;
        border-bottom: 2px solid transparent;
        border-radius: 0;
        white-space: nowrap;
        &:not(:first-child) {
          margin-left: 20px;
        }
        @media (max-width: $desktop) {
          font-size: 16px;
        }
        &:hover,
        &.active {
          color: $green;
          position: relative;
          border-bottom-color: $green;
          // &::before {
          //   content: "";
          //   position: absolute;
          //   height: 2px;
          //   width: 100%;
          //   left: 0;
          //   top: 100%;
          //   background: $green;
          // }
        }
      }
    }
    .content {
      padding-top: 22px;
      .col-sm-6 {
        width: 50%;
        padding: 5px;
      }
      img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }

  
.package-detail {
    position: relative;
    height: 100%;
    h6{
      border: 1px solid;
      border-color: #e94661;
      margin-left: 22px;
      margin-right: 22px;
    }
    .transport{
      margin-top: 12px;
      margin-bottom: 12px;
      div{
        width: 60%;
      }
      .selected {
        background-color: #e94661;
        color: white;
        border-radius: 5px;
      }
    }
    .p-image {
      z-index: 1;
      height: 35%;
      top: 0;
      left: 0;
      width: 100%;
      background: {
        position: center;
        size: cover;
      }
    }
    .card-wrap::-webkit-scrollbar {
      display: none;
    }
    .card-wrap {
      background: #fff;
      overflow-y: scroll;
      width: 100%;
      left: 0;
      bottom: 30px;
      z-index: 2;
      height: 40%;
    }
    .detai-card {
      padding: 10px 20px 20px;
      border-radius: 15px 15px 0 0;
      height: 100%;
      .name {
        font-size: 20px; text-align: center;
        font-weight: 600;
        margin-bottom: 4px;
      }
      .days {
        font-size: 11px;
      }
      .price {
        font-size: 13px;
        color: #010101;
        margin-bottom: 0;
      }
      .price-value {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 4px;
      }
      .dec-title {
        font-size: 17px; display:none;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .dec {
        font-size: 13px;
        color: #484747;
        padding-bottom: 45px;
        line-height: 22px;
      }
    }
    .action {
      background-color: #fff;
      padding: 10px 10px 65px;
      border-top: 3px solid #f2f4f9;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1020px;
      bottom: 80px;
      width: 100%;
    }
  }
  .btn-coupon {
    height: 33px !important;
    color: black;
    background-color: #fafafa;
    border-color: #fafafa;
    font-weight: 600;
    font-size: 14px;
    border-radius: 12px;
  }
  
  .btn-coupon:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle{
    background-color: #fafafa;
    border-color: #fafafa;
  }
  .btn-coupon:hover {
    background-color: #fafafa;
    border-color: #fafafa;
  }
  
#autoapplydiscount {
  border: 1px dotted #e94661;
  display: inline;
  padding: 2px 5px;
}