body {
    margin: 0;
    color: #1a051d;
    background-color: #E5E5E5 !important;
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;

    #root {
        background-color: #F0F1F1;
        max-width: 375px;
        // max-width: 1020px;
        margin: auto;
        height: 800px;
        border-radius: 25px;
    }
}

destinations-package .price-text,
.destinations-package .price-text-label {
    color: #000 !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.pt-40,
.py-40 {
    padding-top: 40px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-40,
.py-40 {
    padding-bottom: 40px;
}
.pl-10,
.px-10 {
    padding-left: 10px;
}

.pr-10,
.px-10 {
    padding-right: 10px;
}
.pl-20,
.px-20 {
    padding-left: 20px;
}

.pr-20,
.px-20 {
    padding-right: 20px;
}

.pl-20,
.px-20 {
    padding-left: 20px;
}
.pr-20,
.px-20 {
    padding-right: 20px;
}

.mt-50 {
    margin-top: 50px;
}
.no-margin {
    margin: 0px !important;
}

.pd-5 {
    padding-left: 5px;
    padding-right: 5px;
}
.no-scroll-bar {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.theme-scroll {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: #dfe7e8;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(#000, 0.5);
        border-radius: 30px;
    }
    &:hover {
        &::-webkit-scrollbar-thumb {
            background: #000;
        }
    }
}
.theme-md-scroll {
    @media (min-width: $tablet) {
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background: #dfe7e8;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(#000, 0.5);
            border-radius: 30px;
        }
        &:hover {
            &::-webkit-scrollbar-thumb {
                background: #000;
            }
        }
    }
}
.bg {
    &-black {
        background-color: #000 !important;
    }
}

.btn {
    font-size: 13px;
    width: 100%;
    height: 50px;
    border-radius: 100px;
}
.destination-cards {
    width: 210px;
    height: 280px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    .location-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .layer {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(
            to bottom,
            rgba(177, 177, 177, 0) 20%,
            rgba(50, 50, 50, 0.6) 75%,
            #000000 101%
        );
    }
    .subtractionIcon {
        display: none;
        position: absolute;
        top: -27px;
        right: -27px;
    }
    .content {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        color: #fff;
        padding: 0 22px 24px;
        .name {
            font-size: 15px;
            font-weight: 600;
            line-height: 1.33;
            margin-bottom: 12px;
        }
        .location {
            display: none;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.33;
            margin-bottom: 0;
            img {
                margin-right: 8;
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .destination-cards {
        width: 100% !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.secondary-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.content-text {
    font-size: 13px;
    color: gray;
}

.schedule-text {
    font-size: 11px;
    font-weight: normal;
    color: black;
    margin-top: 3px;
    margin-bottom: 3px;
}

.price-text {
    font-size: 17px;
    font-weight: bold;
}

.destinations-package .d-row .paragraph {
    background-color: #fff !important ;
}

.price-text-label {
    color: black !important ;
    padding-top: 21px !important ;
}

.destinations-package {
    .d-container {
        // width: 375px;
        height: auto;
        background-color: #f2f4f9;
        /* margin: auto; */
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        @media (max-width: 375px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .menu-text {
        font-size: 17px;
        font-weight: bold;
        padding-bottom: 15px;
    }

    .primary-title {
        font-size: 22px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .arrow {
        margin-right: 20px;
        // color: white;
        // background: white;
    }

    @media screen and (min-width: 600px) {
        .d-row {
            // width: 40% !important;
            display: inline-block;
            margin-right: 33px !important;
        }
    }

    .d-row {
        position: relative;
        width: 100%;
        height: 210px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 40px;

        max-width: 400px;

        img {
            box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);

            float: left;
            width: 100%;
            height: 90%;
            z-index: auto;
            border-radius: 12px;
        }
        .paragraph {
            box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);

            text-align: center;

            margin-left: 5%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 90%;
            height: 50;

            padding: 5px 0;
            margin-top: 135px;

            border-radius: 12px;
            background-color: #399def;
        }
    }

    .secondary-title {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 0px;
        color: black;
    }

    .short-description {
        font-size: 12px !important;
    }

    .content-text {
        font-size: 10px;
        display: none;
        color: gray;
    }

    .schedule-text {
        font-size: 15px;

        font-weight: normal;
        color: black;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .price-text {
        font-size: 11px;
        font-weight: bold;
        text-align: left;
        color: white;
    }

    .price-text-label {
        font-size: 13px;
        font-weight: bold;
        text-align: left;
        color: white;
    }
}

.modal.fade .modal-dialog.to-up {
    transform: translate(0, 200px);
}
.modal.show .modal-dialog.to-up {
    transform: none;
}

.btn-dark {
    color: #fff;
    background-color: #e94661;
    border-color: #e94661;
    font-weight: 600;
    font-size: 100% !important;
    border-radius: 12px;
}
.spinner-border {
    vertical-align: middle;
    margin-right: 8px;
    border-width: 0.1rem;
}
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
    background-color: #e94661;
    border-color: #e94661;
}
.btn-dark:hover {
    background-color: #e94661;
    border-color: #e94661;
}
.fa-arrow-right {
    color: white;
}
.right-arrow {
    margin-top: 2px;
}

#footer {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.phoneNumber {
    margin-top: 50px;
}

.PhoneInputInput {
    height: -webkit-calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.55rem;
    background-color: #fff;
    border: none;
    color: #4f4f4f;
    font-weight: 500;
    font-size: 16px;
    font-family: "SF Pro Display";
}
.sign-up-phone {
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    padding: 11px 15px;
    padding-left: 25px;
}
img.phone {
    width: auto;
    height: auto;
    max-width: 24px;
    max-height: 24px;
}
.PhoneInputInput:focus {
    outline-color: white;
}
.MuiFormControl-root {
    display: flex;
    align-items: center;
    flex-direction: row !important;
    justify-content: space-between;
}
.MuiButton-contained {
    box-shadow: unset;
}
// .signUpInp .MuiTypography-root {
//   display: none;
// }
.signUpInp .MuiFormControl-root {
    width: 100%;
}
.signUpInp .makeStyles-textInp-1 {
    border-radius: 10px;
}
.signUpInp .MuiOutlinedInput-adornedStart {
    padding-left: 25px;
}
.signUpInp button {
    padding-right: 0px;
}
a {
    color: #e94661;
}
.otpInput {
    background-color: transparent;
    border: none;
    border-bottom: #a3a5ac solid 1px;
    border-radius: 0px;
}

.otpInput:focus {
    outline-color: #f2f4f9;
    mix-blend-mode: darken;
    color: #495057;
    box-shadow: none;
    border-color: #a3a5ac;
}

.restaurant {
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    .col-4 {
        padding: 0px;
    }
    img {
        width: 100%;
        height: 100px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .name {
        font-size: 16px;
        font-weight: bold;
    }
    .res_title {
        font-size: 14px;
        color: #000;
        text-align: center;
    }
}
.restaurantDetails {
    height: 100%;
    img {
        width: 100%;
        height: 40%;
    }
    .content {
        height: 35%;
        overflow-y: scroll;
        background-color: white;
        p {
            text-align: center;
            color: black;
        }
        .name {
            margin-top: 0px;
            padding-top: 10px;
            font-size: 20px;
        }
        .description {
            color: #0000008a;
        }
    }
    .order_now {
        height: 25%;
        margin: 20px;
        .btn {
            width: 100%;
            bottom: 0;
        }
    }
}

.MuiRadio-colorSecondary.Mui-checked {
    color: #e94661 !important;
}

// .image-gallery {
//   width: 100%;
//   height: 100vh;
// }

// .image-gallery-slides img {
//   width: 100%;
//   height: 100vh;
//   max-height: 80vh;
//   object-fit: cover;
//   overflow: hidden;
//   object-position: center center;
// }

// .image-gallery-thumbnails img {
//   width: 100%;
//   height: auto;
//   max-height: 80vh;
//   object-fit: cover;
//   overflow: hidden;
//   object-position: center center;
// }
.makeStyles-btTitle-4 {
    margin-top: 32px;
}
// .MuiTypography-body1 {
//     display: none;
// }
div#otp > div {
    justify-content: space-between;
}
@media only screen and (max-width: 1020px) {
    body #root {
        width: 100vw;
        max-width: unset;
        height: 100vh;
    }
    .makeStyles-btTitle-4 {
        margin-top: 0px;
    }
    body {
        height: 100vh;
    }
}
