.container {
  /* padding: 10px; */
  padding: 50px 10px 0px 10px;
  background-color: #f0f1f1;
  height: 90%;
}
.dashImg {
  border-radius: 15px;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 42.88%,
    rgba(0, 0, 0, 0.5) 88.11%
  );
}
.imgContent {
  position: relative;
}
.imageTitle {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.quickService {
  margin-top: 20px;
}
.imgIcon {
  position: absolute;
  width: 50px;
  height: 57px;
  left: 36px;
  top: 34px;
}
.groceryCard {
  position: relative;
}
.addMinus {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px;
}
