// Variable overrides

// $blue:    #007bff !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
$red: #ea3030 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
$green: #76d59e !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;

$dark: #343845;
$voucher-blue: #e94661; 

$purple-light: #e7def1;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "purple-light": $purple-light,
    "black": #000,
    "dark": $dark,
    "voucher-blue": $voucher-blue,
  ),
  $theme-colors
);

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1300px,
//   xxxl: 1500px,
//   // xxxl: 1600px,
// ) !default;

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1240px,
//   xxxl: 1440px,
//   // xxxl: 1600px,
// ) !default;

// $xxLargeDesktop: 1499.98px;
// $xLargeDesktop: 1299.98px;
$xxxlDesktop: 1599.98px;
$xxlDesktop: 1439.98px;
$xlDesktop: 1299.98px;
$lDesktop: 1199.98px;
$largeDesktop: 1199.98px;
$desktop: 1140px;
$tablet: 767.98px;
$phone: 575.98px;
