.App {
    text-align: center;
}

.App-Content {
    /* width: 30%; */
    background-color: #f1f0f0;
    /* padding-top: 60px; */
    height: 800px;
    margin: auto;
    border-radius: 25px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 1020px) {
    .App-Content {
        padding-top: 0px;
        height: 100vh;
    }
    .logo1,
    .logo2 {
        top: 25%;
    }
    .content {
        top: 55%;
    }
    .btnContent {
        top: 67%;
    }
    .logInBtn {
        top: 80%;
    }
}
