#forgotform {
    margin: auto;
    margin-top: 3%;
}
#forgotform .p-forget {
    font-weight: bold;
    color: #011627;
    font-size: 24px;
    text-align: center;
}
#forgotform .p-address {
    font-weight: 500;
    color: #011627;
    font-size: 14px;
    text-align: center;
}
#forgotform .email-form {
    margin-top: 30px;
}
#forgotform p {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 14px;
}
#forgotform .btn-reset {
    color: white;
    font-size: 14px;
    font-weight: 600;
    background: #ec4d61;
    border-radius: 4px;
    border: none;
    width: 100%;
    text-transform: unset;
    margin-top: 20px;
}
#forgotform .pass-remember {
    justify-content: center;
    padding-top: 20px;
}
#forgotform .pass-remember p {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 14px;
    color: black;
    padding: 0px;
}
#forgotform .pass-remember a {
    color: #ec4d61;
    font-size: 14px;
}
