.btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
}
.pro-sidebar {
    height: auto;
    min-height: 100vh;
}
@media only screen and (max-width: 1020px) {
    .btn-toggle {
        display: flex;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .pro-sidebar.md.toggled {
        top: 0px;
        width: 50%;
        height: 100%;
    }
    .pro-sidebar.md {
        top: 0px;
    }
}