.article {
    flex-grow: 1;
    padding: 3%;
}
.article .btn-new {
    border: none;
    float: right;
    margin-bottom: 20px;
}
.p-article {
    -webkit-flex-wrap: unset !important;
    flex-wrap: unset !important;
}
.article .btn-del {
    background-color: #dc3545;
    border-color: #dc3545;
    margin-right: 10px;
}
.article .btn-del:hover {
    background-color: #bb2d3b;
    border-color: #b02a37;
}
.article table td {
    word-break: break-all;
}
.article > p:first-child {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.article div.content {
    height: 65px;
    overflow: hidden;
}